In [29]:
import numpy as np
import pandas as pd

def load_dataset():
	df = pd.read_csv("auth-small.csv", sep=",", header=None)
	df.columns = ["T","SUser","DUser","SC","DC","AuthType","LogonType","AuthOrie","Success"]
	return df

In [30]:
NUM_FEATURES = 9
df = load_dataset()
df.head()

,T,SUser,DUser,SC,DC,AuthType,LogonType,AuthOrie,Success
0,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1250,C586,NTLM,Network,LogOn,Success
1,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success
2,1,C101$@DOM1,C101$@DOM1,C988,C988,?,Network,LogOff,Success
3,1,C1020$@DOM1,SYSTEM@C1020,C1020,C1020,Negotiate,Service,LogOn,Success
4,1,C1021$@DOM1,C1021$@DOM1,C1021,C625,Kerberos,Network,LogOn,Success

In [31]:
SUser_agg = {
    "SC" : {
        "F1": lambda x: x.nunique()
    },
    "DC" : {
        "F2": lambda x: x.nunique()
    },
    "Success" : {
        "F3": lambda x: (x == 'Failure').sum()
    },
    "AuthOrie" : {
        "F4": "count"
    },
    "DUser" : {
        "F5": lambda x: x.nunique()
    }
}
DUser_agg = {
	"SC" : {
		"F6" : lambda x: x.nunique()
	},
	"DC" : {
		"F7" : lambda x: x.nunique()
 	},
	"AuthOrie" : {
        "F8": "count"
    } 
}
DC_agg = {
	"SC" : {
		"F9" : lambda x: x.nunique() 
 	}	
}

In [32]:

FS1 = df.groupby(["T", "SUser"]).agg(SUser_agg).max(level=0)
FS2 = df.groupby(["T", "DUser"]).agg(DUser_agg).max(level=0)
FS3 = df.groupby(["T", "DC"]).agg(DC_agg).max(level=0)

FEATURES = {
	1 : FS1["SC"]["F1"],
	2 : FS1["DC"]["F2"],
	3 : FS1["Success"]["F3"],
	4 : FS1["AuthOrie"]["F4"],
	5 : FS1["DUser"]["F5"],
	6 : FS2["SC"]["F6"],
	7 : FS2["DC"]["F7"],
	8 : FS2["AuthOrie"]["F8"],
	9 : FS3["SC"]["F9"]
}
FEATURES

{1: T
 1         7
 2         6
 3         6
 4         4
 5         3
 6         4
 7         3
 8         5
 9         4
 10        3
 11        5
 12        3
 13        4
 14        3
 15        4
 16        4
 17        5
 18        2
 19        2
 20        3
 21        2
 22        3
 23        3
 24        4
 25        3
 26        4
 27        3
 28        3
 29        4
 30        4
          ..
 54628     7
 54629     4
 54630     8
 54631     5
 54632    10
 54633     4
 54634     4
 54635     6
 54636     4
 54637     4
 54638     9
 54639     4
 54640     3
 54641     7
 54642     4
 54643     4
 54644     7
 54645     4
 54646     4
 54647     3
 54648     9
 54649     8
 54650     4
 54651    10
 54652     6
 54653     4
 54654     7
 54655     8
 54656     6
 54657     6
 Name: F1, dtype: int64, 2: T
 1         9
 2        10
 3         8
 4         5
 5         4
 6         6
 7         4
 8         5
 9         4
 10        3
 11        4
 12        3
 13        4
 14        4
 15        4
 16        4
 17        4
 18        3
 19        3
 20        3
 21        4
 22        5
 23        4
 24        3
 25        3
 26        7
 27        6
 28        4
 29        4
 30        4
          ..
 54628     5
 54629     6
 54630     5
 54631     5
 54632     5
 54633     6
 54634     4
 54635     7
 54636     7
 54637     4
 54638     3
 54639     4
 54640     3
 54641     7
 54642     6
 54643     5
 54644     7
 54645     5
 54646     4
 54647     3
 54648     4
 54649     6
 54650     6
 54651     4
 54652     5
 54653     5
 54654     6
 54655     6
 54656     5
 54657     5
 Name: F2, dtype: int64, 3: T
 1        0
 2        0
 3        0
 4        0
 5        0
 6        0
 7        0
 8        0
 9        0
 10       0
 11       0
 12       0
 13       0
 14       0
 15       0
 16       0
 17       0
 18       0
 19       0
 20       0
 21       0
 22       0
 23       0
 24       0
 25       0
 26       0
 27       0
 28       0
 29       0
 30       0
         ..
 54628    0
 54629    0
 54630    0
 54631    0
 54632    0
 54633    0
 54634    0
 54635    0
 54636    0
 54637    0
 54638    0
 54639    0
 54640    0
 54641    0
 54642    0
 54643    0
 54644    0
 54645    0
 54646    0
 54647    0
 54648    0
 54649    0
 54650    0
 54651    0
 54652    0
 54653    0
 54654    0
 54655    0
 54656    0
 54657    0
 Name: F3, dtype: int64, 4: T
 1        12
 2        16
 3        15
 4         8
 5         6
 6         9
 7         6
 8         5
 9         4
 10        5
 11        7
 12        4
 13        7
 14        5
 15        5
 16        8
 17        6
 18        4
 19        4
 20        4
 21        6
 22        6
 23        4
 24        6
 25        5
 26       14
 27        8
 28        6
 29        7
 30        6
          ..
 54628     9
 54629     6
 54630     8
 54631     6
 54632    10
 54633     7
 54634     7
 54635    10
 54636     8
 54637     9
 54638     9
 54639     8
 54640     5
 54641     9
 54642     7
 54643     9
 54644    13
 54645     7
 54646     5
 54647     4
 54648     9
 54649    12
 54650     6
 54651    10
 54652     8
 54653     7
 54654     8
 54655    10
 54656     8
 54657     6
 Name: F4, dtype: int64, 5: T
 1        3
 2        2
 3        3
 4        3
 5        3
 6        2
 7        2
 8        2
 9        2
 10       2
 11       2
 12       2
 13       2
 14       2
 15       2
 16       2
 17       2
 18       2
 19       2
 20       2
 21       2
 22       2
 23       2
 24       2
 25       2
 26       2
 27       1
 28       2
 29       2
 30       2
         ..
 54628    2
 54629    1
 54630    2
 54631    2
 54632    2
 54633    2
 54634    2
 54635    2
 54636    2
 54637    1
 54638    2
 54639    2
 54640    4
 54641    2
 54642    2
 54643    2
 54644    2
 54645    1
 54646    2
 54647    1
 54648    2
 54649    2
 54650    2
 54651    2
 54652    1
 54653    2
 54654    1
 54655    2
 54656    2
 54657    1
 Name: F5, dtype: int64, 6: T
 1         7
 2         6
 3         6
 4         4
 5         3
 6         3
 7         3
 8         5
 9         4
 10        3
 11        5
 12        3
 13        4
 14        3
 15        4
 16        4
 17        5
 18        2
 19        2
 20        3
 21        2
 22        3
 23        3
 24        4
 25        3
 26        4
 27        3
 28        3
 29        4
 30        4
          ..
 54628     7
 54629     4
 54630     8
 54631     5
 54632    10
 54633     4
 54634     4
 54635     6
 54636     4
 54637     4
 54638     9
 54639     4
 54640     3
 54641     7
 54642     4
 54643     4
 54644     7
 54645     4
 54646     4
 54647     3
 54648     9
 54649     8
 54650     4
 54651    10
 54652     6
 54653     4
 54654     7
 54655     8
 54656     6
 54657     6
 Name: F6, dtype: int64, 7: T
 1         9
 2        10
 3         8
 4         5
 5         4
 6         5
 7         4
 8         5
 9         4
 10        3
 11        4
 12        3
 13        4
 14        4
 15        4
 16        4
 17        4
 18        3
 19        3
 20        3
 21        4
 22        5
 23        4
 24        3
 25        3
 26        7
 27        6
 28        4
 29        4
 30        4
          ..
 54628     5
 54629     6
 54630     5
 54631     5
 54632     5
 54633     6
 54634     4
 54635     7
 54636     7
 54637     4
 54638     3
 54639     4
 54640     3
 54641     7
 54642     6
 54643     5
 54644     7
 54645     5
 54646     4
 54647     3
 54648     4
 54649     6
 54650     6
 54651     4
 54652     5
 54653     5
 54654     6
 54655     6
 54656     5
 54657     5
 Name: F7, dtype: int64, 8: T
 1        12
 2        16
 3        15
 4         8
 5         6
 6         8
 7         6
 8         5
 9         4
 10        5
 11        7
 12        4
 13        7
 14        5
 15        5
 16        8
 17        6
 18        4
 19        4
 20        4
 21        6
 22        6
 23        4
 24        6
 25        5
 26       14
 27        8
 28        6
 29        7
 30        6
          ..
 54628     9
 54629     6
 54630     8
 54631     6
 54632    10
 54633     7
 54634     7
 54635    10
 54636     8
 54637     9
 54638     9
 54639     8
 54640     6
 54641     9
 54642     7
 54643     9
 54644    13
 54645     7
 54646     5
 54647     4
 54648     9
 54649    12
 54650     6
 54651    10
 54652     8
 54653     7
 54654     8
 54655    10
 54656     8
 54657     6
 Name: F8, dtype: int64, 9: T
 1        10
 2        11
 3        10
 4         5
 5         4
 6         7
 7         7
 8         6
 9         6
 10        7
 11        5
 12        7
 13        8
 14        6
 15        4
 16        5
 17        7
 18        5
 19        4
 20        6
 21        6
 22        5
 23        4
 24        5
 25        6
 26       10
 27        7
 28        8
 29        5
 30       12
          ..
 54628    18
 54629    14
 54630    26
 54631    13
 54632    21
 54633    17
 54634    18
 54635    16
 54636    16
 54637    19
 54638    21
 54639    14
 54640    17
 54641    26
 54642    19
 54643    20
 54644    19
 54645    22
 54646    18
 54647    19
 54648    21
 54649    22
 54650    22
 54651    25
 54652    20
 54653    19
 54654    19
 54655    23
 54656    16
 54657    18
 Name: F9, dtype: int64}

In [33]:
N = FS1.shape[0]

feature_set = np.zeros((N, NUM_FEATURES), dtype=np.int)

for i in range(9):
	feature_set[:, i] = FEATURES[i+1]

feature_set.shape

(54657, 9)

In [37]:
np.savetxt('auth_1s_aggregation.csv', feature_set, delimiter=',')